/* Navbar */
html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   color: white;
	
background-image: url(images/The-Hamptons-Long-Island-New-York.svg), 
	          linear-gradient (to bottom, #91E0ED, #FFFFFF);
background-repeat: no-repeat, no-repeat;
-webkit-background-size: cover, cover;
-moz-background-size: cover, cover;
-o-background-size: cover, cover;
}


h1 {
    font-family: 'Pacifico', cursive;
}

#home {
    width: 100%;
    height: 100%;
}


#about-section {
    width: 100%;
    height: 100%;
}

#education {
    width: 100%;
    height: 100%;
}


#awards {
    width: 100%;
    height: 100%;
}

#work-experience {
    width: 100%;
    height: 100%;
}


#organizations {
    width: 100%;
    height: 100%;
}

#projects {
    width: 100%;
    height: 100%;
}

#contact {
    width: 100%;
    height: 100%;
}

#navbar-triangle{
    background-color: black; /* #7E7E7E */
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    height: 85px;
    padding-top: 0;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
    font-family: Arial;
    font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #2f24c9;
	color: white;
	cursor: pointer; 
	transition: background .5s;  
}

/* Rows and Text */

.top-buffer {
	margin:40px;
}

.header-text{
	font-size: 120px;
	margin-top: 120px;
}

.about-text {
	text-align: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.contact {
	height: 100px;
}

/* Images */

.amy-img{
	height:700px;
	margin-top: 50px;
}

.info-img {
	height: 200px;
	width: 200px;
	z-index: 1;
}

.education-img {
	height: 200px;
}

.project-img {
	height: 150px;
	width: 250px;
    border-width: 1px;
	border-radius: 5px;
	border-color: black;
	border-style: solid;
}

.nowknow-img{
	height: 150px;
	width: 250px;
	border-radius: 5px;
	border-color: black;
	border-style: solid;
	border-width: 1px;

}

/* Circular Images */
.circular-northeastern {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url("images/northeastern.png");
    background-size: 100% 100%;
    background-position: 0px 0px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    z-index: 1
}

.black-circle {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: black;
    background-size: 100% 100%;
    z-index: -1
}

/* Images and Placements */
h1 {      /* rectangle */
	width: 300px;
	height: 130px;
	text-align: center;
	position: relative;
	margin: auto;
	background: black;
}

h1 div {
	position: relative;
	text-align: center;
}

h2 {      
	width: 200px;
	height: 75px;
	text-align: center;
	position: relative;
	margin: auto;
	border: 0;
	background: black;
}

h2 div {
	position: relative;
	text-align: center;
}

h4 {      
	width: 250px;
	height: 50px;
	text-align: center;
	position: relative;
	margin: auto;
	border: 0;
	background: black;
}

h4 div {
	position: relative;
	text-align: center;
}

h6 {      
	border: 0;
	margin: 0;
	width: 300px;
	height: 20px;
	position: relative;
	background: black;
}

.text_over_image {
    position: absolute;
    margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    color:#fff;
    height: 50%;
}
